.splash-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash-logo {
    width: 45%;
    height: auto;
    border-bottom: 3px solid black;
    font-family: inherit;
}

.splash-category-clue-number-selector {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.splash-categories, .splash-clues {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-categories-label, .splash-clues-label{
    font-weight: bold;
    font-size: 90%;
}

.splash-number-input {
    text-align: center;
    width: 30%;
    margin-left: 5%;
    border-radius: 5px;
}


.splash-begin-button {
    margin-top: 15px;
}
