.column-container {
    display: flex;
    list-style: none;
}

.column {
    margin-left: 2px;
    margin-right: 2px;
}

.column-values {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.column-value {
    width: 100%;
    background: #071277;
    margin-top: 2px;
    cursor: pointer;
}

.column-value:hover {
    background: #071277c9;
}