.column-container {
    display: flex;
    list-style: none;
}

.column {
    margin-left: 2px;
    margin-right: 2px;
}

.column-values {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.column-value {
    width: 100%;
    height: 70px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-value-enabled {
    background: #071277;
    cursor: pointer;
}

.column-value-disabled {
    background: #0712779c;
    text-decoration:line-through
}

.column-value-enabled:hover {
    background: #071277c9;
}