.clue-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.288);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clue {
    background: #071277;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.clue-header {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: space-between;
}

.clue-title {
    color: white;
    flex: 0.99;
    text-align: center;
    font-size: 1em;
}

.clue-aq {
    color: white;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
    width: 100%;
    height: 100%;
}

.clue-done {
    width: fit-content;
    background: #C49147;
}

.clue-done:hover {
    background: #a57b3c;
}

/* switch css */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #C49147;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #C49147;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }